

{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABC BANK</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


  </head>


    <!-- Fixed navbar -->


    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">

           <a href="{% url 'index' %}"><h2>ABC Bank</h2></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}"><h3>Home</h3></a></li>
            <li><a href="{% url 'register' %}"><h3>Register</h3></a></li>


            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"><h3>Branches</h3></a>
              <ul class="dropdown-menu">
                <li><a href="https://en.wikipedia.org/wiki/Kannur"><h3>Kannur</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Thrissur"><h3>Thrissur</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Palakkad"><h3>Palakkad</h3></a></li>
                 <li><a href="https://en.wikipedia.org/wiki/Idukki"><h3>Idukki</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kochi"><h3>Kochi</h3></a></li>


              </ul>
            </li>
               <li><a href="{% url 'logout' %}"><h3>logout</h3></a></li>
          </ul>
        </div>'
      </div>
    </nav>
<style>
.content {
  max-width: 500px;
  margin: auto;
  margin-top:150px;
}
.heading{
text-align: center;
</style>
<body>
<h2></h2>
<div class="content">
	<div class = "container">
    <div class ="row">
        <div class = "col-md-4">
<h1>Welcome! To ABC Bank.</h1>
               <h2>Please fill your details</h2>


					  <a class="btn btn-info" href="{% url 'form' %}">click here</a>
				</div>
       </div>
    </div>


 </body>
