
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABC BANK</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <!--[if lt IE 9]>
      <script src="{% static 'js/vendor/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">jlaslasjlkas</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a href="{% url 'index' %}"><h2>ABC Bank</h2></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}"><h3>Home</h3></a></li>
            <li><a href="register"><h3>Register</h3></a></li>


            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"><h3>Branches</h3></a>
              <ul class="dropdown-menu">
                <li><a href="https://en.wikipedia.org/wiki/Kannur"><h3>Kannur</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Thrissur"><h3>Thrissur</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Palakkad"><h3>Palakkad</h3></a></li>
                 <li><a href="https://en.wikipedia.org/wiki/Idukki"><h3>Idukki</h3></a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kochi"><h3>Kochi</h3></a></li>


              </ul>
            </li>
            <li><a href="login"><h3>Login</h3></a></li>

          </ul>
        </div>'
      </div>
    </nav>

    <section class="flexslider">
      <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Bringing Style And Comfort For Customer Satisfaction</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(img/banner.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">Affordable Solutions For Better Living</h1>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li style="background-image: url(img/slider_3.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate">We Bring Ideas To Life</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <h2 class="mb0">Welcome To Our Website</h2>
            <p class="lead mt0">ABC BANK<a href="index.html"></a></p>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum saepe magnam natus perferendis corrupti tenetur quidem suscipit eaque blanditiis corporis veniam molestias qui culpa veritatis officiis eum. Doloribus quos minus quas reprehenderit! Ad provident sunt totam culpa tenetur? Libero maxime molestiae cumque excepturi. </p>
            <p>Eveniet tempora a nisi aut debitis! Recusandae dolores vero autem expedita nihil asperiores maxime modi ducimus nemo dicta nulla dolore? Inventore necessitatibus non laboriosam eos quod dignissimos soluta sunt id fugiat debitis nam omnis? A ullam minima excepturi nulla totam necessitatibus illum modi exercitationem blanditiis quaerat at fugit ad eveniet ipsum error quod sit cumque impedit!</p>
          </div>
        </div>
      </div>
    </section>


        <!-- END row -->

    <footer class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <ul class="probootstrap-footer-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-github"></i></a></li>
                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
              </ul>
          </div>
        </div>
        <!-- END row -->
        <div class="row">
          <div class="col-md-12 copyright text-center">
            <p>&copy; 2022  <a href="index.html">ABC Bank</a>. All Rights Reserved.<i class="icon icon-heart"></i> </a></p>
          </div>
        </div>
      </div>
    </footer>
    

    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>

  </body>
</html>