{% extends 'base.html' %}
{% block content %}


<div class="shadow  bg-body rounded">
            <div class = "shadow card">
                <div class = "card-body">
                    <h5 class = "card-title">{{Task.name}}</h5>
                    <p class ="card-priority">{{Task.priority}}</p>
                    <h5 class = "card-year">{{Task.date}}</h5>
                    <a href = "{% url 'todoapp:delete' Task.id %}" class ="btn btn-primary">Done</a>
                    <a href = "{% url 'todoapp:update' Task.id %}" class ="btn btn-success">Update</a>

                </div>
            </div>
</div>

    {% endblock %}